# Node Modules
/node_modules
/hearthstone-battlegrounds-simulator-client/node_modules

# Production
/build

# ESLint Files
**/.eslintrc.json

# .env
.env

# Database Loader
databaseLoader.js

# VSCode
/.vscode

# Testing
/coverage