.redx {
    cursor: pointer;
    position: absolute;
    height: 100px;
    width: 100px;
}
.beasts {
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.demons {
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.dragons {
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.elementals {
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.pirates {
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.mechs {
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.murlocs {
    cursor: pointer;
    height: 100px;
    width: 100px;
}
.quilboars {
    cursor: pointer;
    height: 100px;
    width: 100px;
}