.board-wrapper {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    width: 1900px;
}
.card-display {
    margin: 375px 0px 0px 200px;
    position: absolute;
    width: 1500px;
}
.tavern-up {
    position: absolute;
    cursor: pointer;
    top: 319px;
    left: 731px;
    z-index: 100;
}
.tier-number-tavern-up {
    font-size: 24px;
    top: 302px;
    left: 766px;
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 150;
}
.reroll {
    top: 340px;
    left: 1093px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.tavern-down {
    top: 282px;
    left: 1177px;
    position: absolute;
    cursor: pointer;
    z-index: 100;
}
.tier-number-tavern-down {
    font-size: 24px;
    top: 351px;
    left: 1209px;
    position: absolute;
    color: white;
    font-weight: bold;
    z-index: 150;
}
.tavern-tier-2 {
    position: absolute;
    top: 345px;
    left: 825px;
    z-index: 100;
}
.tavern-tier-3 {
    position: absolute;
    top: 333px;
    left: 821px;
    z-index: 100;
    height: 111px;
}
.tavern-tier-4 {
    position: absolute;
    top: 354px;
    left: 825px;
    z-index: 100;
}
.tavern-tier-5 {
    position: absolute;
    top: 352px;
    left: 793px;
    z-index: 100;
}
.tavern-tier-6 {
    position: absolute;
    top: 338px;
    left: 770px;
    z-index: 100;
}